nav {
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  background: var(--cor-principal);
  border-bottom: 3px solid var(--cor-auxiliar);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 999;
}

nav i {
  font-size: 1.5rem;
  padding: 5px 20px;
  display: none !important;
}

nav i.active {
  display: block !important;
}

nav a {
  color: var(--cor-realce);
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: all 0.3s;
}

nav a:hover {
  background: var(--cor-auxiliar);
  color: var(--cor-principal);
}

#nav-links {
  display: flex;
  gap: 20px;
}

/* Mobile */
#menu-toggle {
  display: none;
  cursor: pointer;
  color: var(--cor-realce);
}

@media (max-width: 768px) {
  #menu-toggle {
    display: flex;
    margin-left: auto;
  }

  #nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: var(--cor-principal);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  #nav-links.active {
    max-height: 500px;
  }

  #nav-links a {
    margin: 15px 0;
    font-size: 1.2em;
  }
}
