header {
  padding-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > div {
  padding: 60px 0;
}

header a {
  background: var(--cor-realce);
  color: var(--cor-principal);
  padding: 5px;
  margin: 20px 10px;
  font-weight: bold;
  border: 3px solid var(--cor-principal);
  box-shadow: 5px 5px 0 var(--cor-auxiliar);
  transform: rotate(-2deg) skewX(-3deg);
  animation: fadeInRight 1s ease-out forwards,
    float 5s ease-in-out infinite alternate;
  animation-delay: 0s, 1s;
}

header i {
  font-size: 1.5rem;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto {
  border: 2px solid var(--cor-realce);
  border-radius: 50%;
  margin: 0 30px;
  animation: rotate 3s ease-in-out infinite alternate;
}

#titulo {
  display: inline-block;
  background: var(--cor-auxiliar);
  padding: 20px 40px;
  border: 5px solid var(--cor-realce);
  box-shadow: 5px 5px 0 var(--cor-principal);
  transform: rotate(-3deg);
  animation: fadeInLeft 1s ease-out forwards,
    float 3s ease-in-out infinite alternate;
  animation-delay: 0s, 1s;
  margin-left: 30px;
  position: relative;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#subtitulo {
  background: var(--cor-realce);
  color: var(--cor-principal);
  padding: 10px 15px;
  font-weight: bold;
  border: 3px solid var(--cor-principal);
  box-shadow: 5px 5px 0 var(--cor-auxiliar);
  transform: rotate(-2deg) skewX(-3deg);
  animation: fadeInRight 1s ease-out forwards,
    float 4s ease-in-out infinite alternate;
  animation-delay: 0s, 1s;
  margin: 0;
}

@media (max-width: 768px) {
  header {
    height: auto;
    padding-top: 30px;
  }

  header img {
    height: 150px;
    width: 150px;
  }

  header > div {
    flex-direction: column;
  }

  #titulo {
    margin-left: 0;
    margin-right: 0;
  }

  #titulo {
    padding: 20px 30px;
    font-size: 2em;
    letter-spacing: 2px;
  }
}