#sobre > div {
  background: var(--cor-principal);
  padding: 30px;
  margin: 30px 30px;
  border-left: 12px solid var(--cor-auxiliar);
  width: 80%;
  max-width: 600px;
  height: fit-content;
  transform: skewX(-1deg) rotate(-3deg);
  animation: morph 4s ease-in-out infinite alternate, morphShadow 5s ease-in-out infinite alternate;
}

#sobre h2 {
  color: var(--cor-auxiliar);
  margin-bottom: 15px;
  transform: rotate(3deg);
  animation: morph 4s ease-in-out infinite alternate-reverse;
}

#sobre p {
  transform: rotate(3deg);
  animation: morph 4s ease-in-out infinite alternate-reverse;
}

.highlight {
  background: var(--cor-auxiliar);
  color: var(--cor-realce);
  padding: 2px 6px;
}
