#sobre > div {
  background: var(--cor-principal);
  padding: 30px;
  margin: 100px auto;
  border-left: 12px solid var(--cor-auxiliar);
  box-shadow: 6px 6px 0 10px var(--cor-realce);
  width: 80%;
  max-width: 600px;
  position: relative;
  transform: skewX(-1deg) rotate(-3deg);
}

#sobre h2 {
  color: var(--cor-auxiliar);
  margin-bottom: 15px;
  transform: rotate(3deg);
}

#sobre p {
  transform: rotate(3deg);
}

.highlight {
  background: var(--cor-auxiliar);
  color: var(--cor-realce);
  padding: 2px 6px;
}
